@import "./reset.scss";
@import "./functions.scss";

html {
  direction: ltr;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

body {
  direction: rtl;
  line-height: 1;
  background-color: #fff;
  padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: vw(21);

  @media only screen and (min-width: 1024px) {
    font-size: 21px;
  }
}

body {
  background: #afdaf9;
}

// header
header {
  &:before {
    content: " ";
    position: relative;
    width: 100%;
    height: vw(35);
    background: #afdaf9;
    display: block;
    box-sizing: content-box;
  }
  background-color: #deac57;
  width: 100%;
  height: vw(120);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: content-box;

  .shlonski-logo {
    position: absolute;
    background-image: url(../images/logo_mobile.png);
    width: vw(200);
    height: vw(140);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    left: vw(10);
    top: vw(20);
    &:after {
      content: " ";
      position: absolute;
      width: vw(15);
      // height: vw(300);
      height: 100vh;
      background: #1264ab;
      display: block;
      box-sizing: content-box;
      @media only screen and (max-width: 1024px) {
        top: vw(93);
        left: vw(3);
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    &:before {
      height: 60px;
    }
    height: 120px;

    .shlonski-logo {
      background-image: url(../images/logo.png);
      width: 317px;
      height: 201px;
      left: 30px;
      top: 20px;
      background-size: contain;
      &:after {
        width: 21px;
        height: 100vh;
        top: 154px;
        left: 29px;
      }
    }
  }
}

header .menu {
  display: flex;
  align-items: center;
  color: #0f64ad;
  line-height: 1;
  font-weight: 700;
  height: vw(85);
  .menu-item {
    padding: vw(5) vw(10);

    &.active,
    &:hover {
      background-color: #afdaf9;
    }
    margin-right: vw(20);
  }
  @media only screen and (min-width: 1024px) {
    height: 60px;
    .menu-item {
      padding: 5px 10px;

      &.active,
      &:hover {
        background-color: #afdaf9;
      }
      margin-right: 20px;
    }
  }
}

//footer
footer {
  background-image: url(../images/footer_mobile_2.png);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  width: 100%;
  height: vw(84);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  @media only screen and (min-width: 1024px) {
    background-image: url(../images/footer.png);
    height: vw1920(122);
    max-height: 122px;
    bottom: -2px;
    background-size: cover;
  }
}

main {
  position: relative;
  margin-top: vw(150);
  width: 100%;
  margin-bottom: vw(50);

  section {
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  @media only screen and (min-width: 1024px) {
    margin-top: 150px;
    margin-bottom: 50px;
  }
}

article {
  &.center {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  h1,
  h3 {
    color: #0f64ad;
    line-height: 1.2;
  }
  h1 {
    font-size: vw(50);
    font-weight: 800;
    margin: vw(25) 0;
  }

  h3 {
    font-size: vw(25);
    font-weight: normal;
  }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 50px;
      margin: 25px 0;
    }

    h3 {
      font-size: 25px;
    }
  }
}

// aboutus
.aboutus {
  background: #afdaf9;
  flex-direction: column-reverse;
  width: vw(443);
  padding-bottom: vw(20);
  iframe {
    width: 100%;
    height: vw(792);
  }
  p {
    color: #0f64ad;
    font-weight: 400;
    line-height: 1.2;
  }
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    width: 1300px;
    height: 800px;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;

    article {
      width: 1000px;
      height: 725px;
      .wrapper-aboutus {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      p {
        color: #0f64ad;
      }
      h1 {
        font-size: 70px;
      }
      h3 {
        font-size: 29px;
      }
      h1,
      h3 {
        width: 100%;
      }
    }
    iframe {
      width: 355px;
      height: 631px;
    }
  }
}

//services
.services {
  background-color: #fff;
  min-height: vw(579);
  width: 100%;
  position: relative;

  .scroll-wrapper {
    margin-top: vw(30);
    width: 100%;

    @media only screen and (max-width: 1000px) {
      overflow: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .scrollbar {
      display: flex;
      @media only screen and (max-width: 1000px) {
        overflow: hidden;
        width: vw(270 * 6 + 20);
      }
      .box {
        &:first-child {
          margin-right: vw(20);
        }
        margin-left: vw(20);
        position: relative;
        .image {
          .overlay {
            position: absolute;
            width: vw(250);
            height: vw(250);
            border-radius: 50%;
            background-color: #afdaf9;
            top: 0;
            left: 0;
            opacity: 0;
            will-change: opacity;
            transition: opacity 0.5s;
            display: grid;
            place-content: center;
          }
          &:hover,
          &.active {
            .overlay {
              opacity: 1;
            }
          }
          .overlay-text {
            width: vw(216);
            text-align: center;
            line-height: 1.2;
            font-weight: 500;
            font-size: vw(25);
            color: #0f64ad;
            white-space: normal;
          }
          width: vw(250);
          height: vw(250);
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          &.image-1 {
            background-image: url(../images/1.jpg);
          }
          &.image-2 {
            background-image: url(../images/2.jpg);
          }
          &.image-3 {
            background-image: url(../images/3.jpg);
          }
          &.image-4 {
            background-image: url(../images/4.jpg);
          }
          &.image-5 {
            background-image: url(../images/5.jpg);
          }
          &.image-6 {
            background-image: url(../images/6.jpg);
          }
        }
        .item-title {
          margin-top: vw(20);
          font-size: vw(35);
          font-weight: 800;
          color: #0f64ad;
          text-align: center;
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    min-height: 1000px;
    .scroll-wrapper {
      margin-top: 30px;
      display: grid;
      place-content: center;

      .scrollbar {
        display: flex;
        justify-content: space-between;
        width: 1199px;
        height: 900px;
        flex-wrap: wrap;
        .box {
          &:first-child {
            margin-right: 0px;
          }
          margin-left: 0px;

          margin-bottom: 20px;

          .image {
            cursor: pointer;
            .overlay-text {
              width: 236px;
              font-size: 23px;
            }
            .overlay {
              width: 300px;
              height: 300px;
            }
            width: 300px;
            height: 300px;
          }
          .item-title {
            margin-top: 20px;
            font-size: 35px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.customers {
  background-color: #fff;
  min-height: vw(600);
  width: 100%;
  position: relative;

  .scroll-wrapper {
    margin-top: vw(30);
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .scrollbar {
      display: flex;
      @media only screen and (max-width: 1000px) {
        overflow: hidden;
      }

      .box {
        padding: vw(20) vw(30) 0 vw(30);
        background-color: #afdaf9;
        border-radius: vw(10);
        width: vw(328);
        height: vw(420);
        white-space: normal;
        &:first-child {
          margin-right: vw(20);
        }
        margin-left: vw(20);
        font-weight: 400;
        line-height: 1.2;
        color: #0f64ad;
        p:not(.author) {
          height: vw(340);
        }
        p.author {
          margin-top: vw(10);
          text-align: left;
          font-weight: 800;
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    min-height: 600px;
    width: 100%;
    position: relative;

    .scroll-wrapper {
      margin-top: 30px;
      width: 100%;
      display: grid;
      place-content: flex-start;
      &.center {
        place-content: center;
      }
      overflow-x: auto;

      .scrollbar {

        .box {
          padding: 20px 30px 0 30px;
          border-radius: 10px;
          width: 406px;
          height: 370px;
          &:first-child {
            margin-right: 20px;
          }
          &:not(:last-child) {
            margin-left: 20px;
          }
          p:not(.author) {
            height: unset;
            min-height: 250px;
            display: block;
          }
          p.author {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.video {
  min-height: vw(579);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    width: 80%;
    height: vw(300);
  }
  @media only screen and (min-width: 1024px) {
    min-height: 581px;
    iframe {
      width: 805px;
      height: 452px;
    }
  }
}

.relationships {
  padding-bottom: vw(80);
  .share-icons {
    margin-top: vw(20);
    display: flex;
    flex-direction: row-reverse;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .share-icon {
      width: vw(64);
      height: vw(63);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      &:not(:last-child) {
        margin-right: vw(10);
      }
    }
    .fb {
      background-image: url(../images/facebook.png);
    }
    .whatsapp {
      background-image: url(../images/whatsapp.png);
    }
    .tiktok {
      background-image: url(../images/tiktok.png);
    }
    .insta {
      background-image: url(../images/instagram.png);
    }
    .youtube {
      background-image: url(../images/youtube.png);
    }
  }
  @media only screen and (min-width: 1024px) {
    margin-bottom: 200px;
    padding-bottom: 0;
    height: 300px;
    .share-icons {
      margin-top: 50px;
      .share-icon {
        width: 87px;
        height: 87px;
        background-repeat: no-repeat;
        &:not(:last-child) {
          margin-right: vw(10);
        }
      }
    }
  }
}
