<main class="modal-configuration">
  <h2 mat-dialog-title>Configure Test</h2>
  <mat-dialog-content class="mat-typography">
    <div class="editor-container">
      <textarea [value]="textareaDefault" (input)="inputListener($any($event))" matInput placeholder="Ex. { }"></textarea>
    </div>
    <div>
      Number of Tests: {{ numOfTests }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Set Configuration
    </button>
  </mat-dialog-actions>
</main>
